/** Add css rules here for your application. */

html { 
	background: url('images/BlackWoodTexture.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-Button { font-size: 350%; }

.gwt-Label {
	color: #000000;
	font: normal 22px tahoma, arial, helvetica, sans-serif;
	padding: 6px;
}

.gwt-PushButton
{
        margin: 50px;
        height: 23px;
        width: 60px;
        color:  #000000;
        font-size: 12px;
        font-family: arial, sans-serif;
        text-align: center;
        vertical-align: middle;
        horizontal-align: middle;
        background: #000000;
        border: 0px solid #3079ED;
        outline-color: #3079ED;
        outline-width: 3px;
    }
    
 .audioButton
{
        margin: 0px;
        height: 32px;
        width: 32px;
        color:  #000000;
        vertical-align: middle;
        horizontal-align: middle;
        background: #000000;
        border: 0px solid #3079ED;
        outline-color: #000000;
        outline-width: 0px;
    }

.dialogVPanel {
  margin: 5px;
}

.largeTextButton
{
	 font-size: 22px;
	 font-family: arial, sans-serif;
  	 font-weight: bold;
}

.monthlabel{
	color: #FFFFFF;
	font: normal 32px tahoma, arial, helvetica, sans-serif;
	padding: 6px;
}

.daylabel{
	color: #FFFFFF;
	font: normal 22px tahoma, arial, helvetica, sans-serif;
	padding: 6px;
}

.smallWhiteText{
	color: #FFFFFF;
	font: normal 12px tahoma, arial, helvetica, sans-serif;
	padding: 6px;
}

